#features-menu {
    .MuiMenu-paper {
      border-radius: 12px;
    }
    ul {
      // background-color: black;
      li {
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
}

#user-menu {
  left: -15px;
    .MuiMenu-paper {
      border-radius: 12px;
    }
    ul {
      border-color: #333;
      li {
        align-items: center;
        justify-content: center;
        // padding-left: 30px;
        // padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
      }
    }
}

.container {
  div {
    .nav-a {
      position: relative;
      &.active{
        color: #17b451;
        &::after {
          content: '';
          display: block;
          margin-top: 2px;
          width: 100%;
          height: 4px;
          background-color: #17b451;
          position: absolute;
          border-radius: 10px;
        }
      }
    }
  }
}

#dark-mode {
  background-color: rgba(132, 139, 200, 0.18);
  span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    &.active {
      color: white;
      border-radius: 0.4rem;
      background-color: #6C9BCF;
  }
  }
}
